@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

body {
  --main-green: #14f789;
  --secondary-green: #0fd173;
  --last-green: #05a357;
  --primary-dark: #0a0e12;
  --secondary-dark: #10171c;
  --outline: #47576350;
  width: 300px;
  height: 450px;
}

body.red {
  --main-green: #f76060;
  --secondary-green: #f73939;
  --last-green: #a82222;
}

body.yellow {
  --main-green: #e0f760;
  --secondary-green: #f7ed39;
  --last-green: #a4a822;
}

body.yellow .navbar a {
  color: black;
}

body.yellow button,
body.yellow select {
  color: black;
}

body.cyan .navbar a {
  color: black;
}

body.cyan button,
body.cyan select {
  color: black;
}

body.cyan .bell,
body.yellow .bell {
  filter: invert(1);
}

body.blue {
  --main-green: #608df7;
  --secondary-green: #397ff7;
  --last-green: #225ca8;
}

body.pink {
  --main-green: #e860f7;
  --secondary-green: #e139f7;
  --last-green: #9622a8;
}

body.cyan {
  --main-green: #60f4f7;
  --secondary-green: #39f7ea;
  --last-green: #22a89d;
}

body.orange {
  --main-green: #f7a65f;
  --secondary-green: #f7933b;
  --last-green: #a96223;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--primary-dark);
  color: white;
  padding: 1rem;
  padding-top: 4rem;
}

a {
  color: var(--main-green);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.navbar {
  background-color: var(--secondary-green);
  color: white;
  padding: 1rem;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 10;
  box-sizing: border-box;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 1.05rem;
}

.navbar a.main-title-logo {
  font-weight: bold;
}

button {
  font-family: "Space Grotesk", sans-serif;
  border: 0.1rem solid var(--last-green);
  padding: 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
  outline: 0px;
  border: 0px;
  background-color: var(--secondary-green);
  border-radius: 0.3rem;
  width: calc(100% - .6rem);
}

button:hover {
  background-color: var(--last-green);
}

.post {
  background-color: var(--secondary-dark);
  border-radius: 0.5rem;
  border: 3px solid var(--outline);
  margin-bottom: 2rem;
  padding: 0.5rem;
  margin: 0.25rem;
  width: calc(100% - 1.75rem);
}

.message a,
.admin-message a {
  color: var(--main-green);
}

.message a:hover,
.admin-message a:hover {
  text-decoration: underline;
}

.message,
.admin-message {
  text-align: center;
}

/*Loader*/
#loader-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primary-dark);
  z-index: 11;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  }
  #loader-wrapper::before{
  content: "";
  display: block;
  -webkit-box-flex: 0.5;
  box-flex: 0.5;
  -webkit-flex-grow: 0.5;
  flex-grow: 0.5;
  height: 0px;
  }
  #loader{
  text-align:center;
  }
  #loader img{
  height:30px;
  width:30px;
  animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(1300deg);
    }
  }